<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>links}}
    <title>Vaccine Available</title>
</head>
<body>
    {{>header}}
      <h1 class="title">Check Availability of Vaccine <img src="Images/vaccine.png" width="80px" height="80px" alt=""></h1>
   
    <section class="text-black body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap flex-col">
    <div class="flex mx-auto flex-wrap" id="details">
      <a class=" sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium bg-gray-100 inline-flex items-center leading-none border-indigo-500 text-black tracking-wider rounded-t" id="search_pin">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 mr-3" viewBox="0 0 24 24">
          <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
        </svg> Search By Pin
      </a>
      <a class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider" id="search_district" onclick="districtDisplay()">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 mr-3" viewBox="0 0 24 24">
          <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
        </svg>search By District
      </a>
    </div>
  <div class="p-8 items-center" id="pin">
  <div class=" input bg-white flex items-center rounded-full shadow-xl mt-20 w-1/2 mx-80" >
    <input class="rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none" id="searchInput" type="text" placeholder="Search by Pin">
      <div class="p-4">
      <button id="searchBtn" class="bg-blue-500 text-white rounded-full p-2 hover:bg-blue-400 focus:outline-none w-12 h-12 flex items-center justify-center">
        <i class="fas fa-search fx-3"></i>
      </button>
      </div>
    </div>
</div>
  </div>
</section>
  <section class="body-font">
    <div class="info flex flex-wrap mx-20 " id="content" >
      <div class="xl:w-1/3 md:w-1/2 p-4" id="info" >
        <div class="border border-gray-200 p-6 rounded-lg bg-blue">
          <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
            </svg>
          </div>
          <div class="block"><h2 class="text-lg text-gray-900 font-medium title-font mb-2">Name,Block Name</h2><h2>Vaccine</h2></div>
          <h2>Availability</h2>
          <h2>dose 1</h2>
          <h2>dose 2</h2>
          
        </div>
      </div>
    </div>
    
  </div>
</section>

{{>footer}}

<script src="Js/vaccine.js"></script>

</body>
</html>

